{% load static %}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto</title>


<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

<header>
    <div class="logo">TZ</div>
    <h1>Panel Admin - Nuevo Producto</h1>
</header>

<section style="padding:30px;">

<h2>➕ Crear Producto</h2>

{% if error %}

<div class="error-box">
    {{ error }}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data" class="form-admin">

    {% csrf_token %}

    <h2>➕ Crear Producto</h2>

    <label>Nombre del producto</label>
    <input type="text" name="nombre" required>

    <label>Precio</label>
    <input type="number" name="precio" required>

    <label>Descripción</label>
    <textarea name="descripcion" rows="5"></textarea>

    <label>Imagen</label>
    <input type="file" name="imagen" required>

    <label>Stock</label>
    <input type="number" name="stock" required>

    <button type="submit" class="btn-guardar">
        💾 Guardar Producto
    </button>

</form>

<br>

<div style="text-align:center;">
    <a href="{% url 'panel_admin' %}" class="btn">
        ⬅️ Volver
    </a>
</div>



</section>

</body>
</html>
